*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.test{
    background: #3B5971;
    width: 100vw;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    position: relative;
    width: 1024px;
    height: 849px;
    background: #1C233D;
}
.Signin{
    position: absolute;
    width: 93px;
    height: 30px;
    left: 856px;
    top: 18px;
    background: linear-gradient(85.76deg, rgba(191, 196, 238, 0.0945738) -105.02%, #C367E6 10.94%, rgba(190, 206, 239, 0) 121.57%);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
}
.navbar h1{
    position: absolute;
    width: 108px;
    height: 32px;
    left: 72px;
    top: 15px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: #E5E5E5;
}
.navbar .Explore{
    position: absolute;
    width: 51px;
    height: 18px;
    left: 218px;
    top: 23px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #E5E5E5;
}
.navbar .Marketplace{
    position: absolute;
    width: 84px;
    height: 18px;
    left: 295px;
    top: 23px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #E5E5E5;
}
.navbar .Artist{
    position: absolute;
    width: 38px;
    height: 18px;
    left: 413px;
    top: 23px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #E5E5E5;
}
.navbar .Collection{
    position: absolute;
    width: 68px;
    height: 18px;
    left: 481px;
    top: 23px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #E5E5E5;
}
.nav .Search{
    position: absolute;
    width: 242px;
    height: 30px;
    left: 584px;
    top: 18px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}
.Search p{
    position: absolute;
    width: 34px;
    height: 13px;
    left: 7px;
    top: 8px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #E5E5E5;
}
.Search .ti-search{
    position: absolute;
    left: 92.15%;
    right: 4.18%;
    top: 20%;
    bottom: 40.37%;
    color:  #E5E5E5;
}
.monkey{
    position: absolute;
    width: 404px;
    height: 494px;
    left: 551px;
    top: 125px;

    background: #30384D;
    border-radius: 10px;
}
.monkey .vector{
    box-sizing: border-box;

    position: absolute;
    left: 79.46%;
    right: 18.84%;
    top: 94.13%;
    bottom: 4.1%;

    border: 1px solid #FFFFFF;
}
.monkey .Ellipse6{
    position: absolute;
    width: 8px;
    height: 8px;
    left: 33px;
    top: 466px;
}
.monkey .Ellipse1{
    position: absolute;
    width: 29px;
    height: 28px;
    left: 284px;
    top: 410px;
}
.monkey .Ellipse2{
    position: absolute;
    width: 29px;
    height: 28px;
    left: 299px;
    top: 410px; 
}
.monkey .Ellipse3{
    position: absolute;
    width: 29px;
    height: 28px;
    left: 319px;
    top: 410px;
}
.monkey .Ellipse4{
    position: absolute;
    width: 29px;
    height: 28px;
    left: 334px;
    top: 410px;
}
.monkey .Ellipse5{
    position: absolute;
    width: 29px;
    height: 28px;
    left: 354px;
    top: 410px;
}
.monkey .khi{
    position: absolute;
    width: 357.28px;
    height: 370.24px;
    left: 25.72px;
    top: 29px;
    border-radius: 4.89425px;
}
.monkey .time{
    position: absolute;
    width: 66px;
    height: 13px;
    left: 331px;
    top: 463px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
}
.monkey .Authors{
    position: absolute;
    width: 66px;
    height: 13px;
    left: 170px;
    top: 463px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
}
.monkey .ETH{
    position: absolute;
    width: 48px;
    height: 13px;
    left: 43px;
    top: 463px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
}
.monkey .Ending{
    position: absolute;
    width: 44px;
    height: 10px;
    left: 353px;
    top: 449px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    color: #545C71;
}
.monkey .Current{
    position: absolute;
    width: 58px;
    height: 10px;
    left: 170px;
    top: 449px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    color: #545C71;
}
.monkey .Bid{
    position: absolute;
    width: 58px;
    height: 10px;
    left: 33px;
    top: 449px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #545C71;   
}
.monkey .Apes{
    position: absolute;
    width: 98px;
    height: 18px;
    left: 32px;
    top: 410px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.conten .Discover{
    position: absolute;
    width: 400px;
    height: 231px;
    left: 62px;
    top: 138px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 77px;
    color: #FFFFFF;
}
.conten .vec{
    position: absolute;
    width: 121.5px;
    height: 13.07px;
    left: 325px;
    top: 287px;
    border: 3px solid #770777;
    border-color: #770777 transparent transparent transparent;
    border-radius: 300%/100px 100px 0 0;
}
.conten .NFTs{
    position: absolute;
    width: 300px;
    height: 40px;
    left: 62px;
    top: 381px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}
.conten .box-line{
    position: absolute;
    width: 199px;
    height: 40px;
    left: 60px;
    top: 433px;
    background: linear-gradient(85.76deg, rgba(191, 196, 238, 0.0945738) -105.02%, #C367E6 10.94%, rgba(190, 206, 239, 0) 121.57%);
    border-radius: 5px;
}
.box-line .now{
    position: absolute;
    width: 104px;
    height: 20px;
    left: 47px;
    top: 10px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #E5E5E5;
}
.conten .num35k{
    position: absolute;
    width: 87px;
    height: 46px;
    left: 62px;
    top: 554px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}
.conten .num15k{
    position: absolute;
    width: 81px;
    height: 46px;
    left: 220px;
    top: 554px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}
.conten .num25k{
    position: absolute;
    width: 86px;
    height: 46px;
    left: 363px;
    top: 554px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}
.conten .Artworks{
    position: absolute;
    width: 53px;
    height: 15px;
    left: 67px;
    top: 599px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #E5E5E5;
}
.conten .Auctions{
    position: absolute;
    width: 52px;
    height: 15px;
    left: 229px;
    top: 599px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #E5E5E5;
}
.conten .Artists{
    position: absolute;
    width: 39px;
    height: 15px;
    left: 375px;
    top: 599px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    
    color: #E5E5E5;
}
.coin{
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 276px;
    top: 743px;
}
.tre{
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 457px;
    top: 743px;
}
.exo{
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 629px;
    top: 743px;
}
.bit{
    position: absolute;
    width: 135.71px;
    height: 50px;
    left: 825px;
    top: 743px;
}
.Marketplace{
    position: absolute;
    width: 90px;
    height: 13px;
    left: 467px;
    top: 849px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    background: linear-gradient(180deg, #9C76B8 0%, rgba(156, 118, 184, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.Drops{
    position: absolute;
    width: 158px;
    height: 26px;
    left: 433px;
    top: 875px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF; 
}